*{
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
overflow-x: hidden;
  scroll-behavior: smooth;

}

body::-webkit-scrollbar {
  display: none;
}
img{
  width: 100%;
  height: auto;
}
a, a:hover, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}
p{
  letter-spacing: 0.2vw;
}
/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.contenu-1{
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("../images/home.jpg");
  width: 100%;
  height: 800vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 102%;

}
.contenu-1-1{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  /*filter: drop-shadow(0 0 1vh black);*/
  margin-bottom: 40vh;
  width: 70%;
  padding-top: 0%;
  animation: 1s ease  me;
}
.contenu-1-1 h1{

  opacity: 1;
  font-size: 5em;
}
.contenu-1-1 h1,h2{
  text-align: center;

}
.contenu-1-1 h2{
  padding-top: 5%;
  font-size: 2em;
}
.contenu-2{

  width: 30%;
  height: 89vh;
}
.contenu-4{
  margin-top: 101vh;
  filter: drop-shadow(0 0 0.5vh black);
  background: rgba(0, 0, 0, 0.6);
  border: 0.5vh solid sandybrown;
  width: 69%;
  height: 99vh;
}
.contenu-5{

  margin-top: 101vh;
  width: 72%;
  height: 149vh;
}
.ligne{
  width: 100%;
  height: 72vh;
  display: flex;

}
.subprojet h1,p,li,ul{
  background-image: url("../images/home.jpg");
  background-attachment: fixed;
  background-size: cover ;

  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.subprojet img{
  width: 25vw;
  height: 25vh;
 padding-top: 8%;
}
.subprojet h1{
  padding-top: 4%;
}
.subprojet p{
  width: 80%;
  padding-top: 4%;
}
.subprojet ul{
  padding-top: 4%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.subprojet li{

  list-style: none;
  margin-right: 1vw;
}
.subprojet:hover{
  cursor: crosshair;

  transform: scale(1.05);
}
.ctn{
  transition: 1.5s margin-right;
}
.margectn{

  margin-right: 15%;
}
.subprojet{
  transition: 0.5s ease-in-out;
  color: white;
display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
  margin: 5vh;
  width: 100%;
  filter: drop-shadow(0 0 0.5vh black);
  background: rgba(0, 0, 0, 0.6);
  border: 0.5vh solid sandybrown;
}

.presentation-content{
  padding-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenu-2 h1{
  background-image: url("../images/home.jpg");
  background-attachment: fixed;
  background-size: cover ;
  padding-top: 10%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-align: center;
  font-size: 3em;
}

.me{

  width: auto;
  height: 60vh;
 }
@keyframes me {
  from { padding-top: 25%;
    opacity: 0;
    }
  to   { padding-top: 0%;
        opacity: 1;
    }
}
.contenu-2 p{
  opacity: 1;
}
.contenu-3{
  border-top: 0.5vh solid black;
  background-image: url("../images/contact3.jpg");
  /*background-attachment: fixed;*/
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: black;
  width: 100%;
  height: 100vh;
}
.croix-menu{
  position: fixed;
  top: 5vh;
  right: 5vh;
  width: 5vh;
  height: 1vh;
  z-index: 20;
}
.croix-menu:hover{
  transition: 1ms;
}
.croix-menu:hover .barre-haut{
  transform: rotate(180deg) ;
}
.croix-menu:hover .barre-bas{
  transform: rotate(180deg) ;
}
.barre-haut{

  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  transition: 0.70s;
  width: 100%;
  height: 40%;
  background-color: black;
  margin-bottom: 0.5vh;

}
.barre-bas{

  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  transition: 0.70s;
  width: 100%;
  height: 40%;
  background-color: black;

}

nav{
  background: rgba(0,0,0,0.8);
  position: absolute;
  width: 100%;
  top: 0;
  right: 20%;
  height: 100vh;
  max-height: 300vh;
  transform: translate3d(130%, 0, 0);
  transition: transform 1.5s ease;
  z-index: 1;

}
.avance{
  transform: translate3d(105%, 0, 0);
  transition: transform 1.5s ease;
}

.clicked{
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(405deg) translate(0,0.5vh);
  -moz-transform: rotate(405deg) translate(0,0.5vh);
  -o-transform: rotate(405deg) translate(0,0.5vh);
  -ms-transform:rotate(405deg) translate(0,0.5vh);
  transition: 0.70s;
  transform: rotate(405deg) translate(0,0.5vh);
  background-color: sandybrown;
}
.clicked2{
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(-45deg) translate(0,-0.5vh);
  -moz-transform: rotate(-45deg) translate(0,-0.5vh);
  -o-transform: rotate(-45deg) translate(0,-0.5vh);
  -ms-transform:rotate(-45deg) translate(0,-0.5vh);
  transition: 0.70s;
  transform: rotate(-45deg) translate(0,-0.5vh);
  background-color: sandybrown;

}
.logo{
  height: 15vh;
  width: auto;
}
.contenu-3 h1{
  font-size: 3.5em;
  margin-top: 2%;
}
.reseaux img{
 width: 100%;
  height: auto;
}
.test{
  margin-right: 25%;
}

.reseaux{
  display: flex;
  align-items: center;
  justify-items: center;
  width: 50vh;
  height: 50vh;

}
#liens-menu{
  display: flex;
  width: 14%;
  font-size: 1.5em;
  flex-direction: column;
  padding-top: 15%;
  overflow: hidden;
  text-align: center;
}
#liens-menu a{
  color: sandybrown;
  margin-bottom: 5vh;
 }
#liens-menu a:hover{
  cursor: url('../images/cu4.png'),pointer;

}
nav:hover{
  /*cursor: url("../images/contact2.png"),auto;*/
  cursor: url('../images/cu4.png'),pointer;
  /*border-bottom: 0.5vh solid white;*/
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {

  color: white;
  filter: drop-shadow(0 0 0.5vh black);
  background: rgba(0, 0, 0, 0.6);
  border: 0.5vh solid sandybrown;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1.5s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {

  transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-front{
visibility: hidden;
}
.flip-card:hover .flip-card-back{
  -webkit-backface-visibility: visible; /* Safari */
  backface-visibility:  visible;
  visibility: visible;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
}

/* Style the back side */
.flip-card-back {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: white;
  transform: rotateY(180deg);
}
.flip-card-back p{
  padding-top: 5%;
  font-size: 1.5em;
}
.top-flip-card-back{
  margin-top: 10%;
}
.test2{
  display: flex;
  align-items: center;
  justify-items: center;
  width: 60%;
  height: 80%;
  margin-top: 2%;
  /*!*background-color: white;*!*/
  filter: drop-shadow(0 0 1vh black);
  /*background: rgba(255, 255, 255, 0.2);*/
    background-image: url("../images/tbcontact.png");
    background-size: cover;
  background-position: center center;
}


.mydiv{
    position: absolute;
}
.s span {
   overflow: hidden;
   transition: transform 150ms ease-in-out;
   transform-origin: bottom left;
   display: inline-block;
 }
.text-justify{
  width: 80%;
  text-align: center;
}
.s{
  letter-spacing: 0;
}
.s span {
  transform: rotate(0deg);
}
.s:hover span {
  overflow: hidden;
  transform: rotate(8deg);
}
.s:hover span:nth-child(1) {
  transition-delay: 0ms;
}
.s:hover span:nth-child(2) {
  transition-delay: 100ms;
}
.s:hover span:nth-child(3) {
  transition-delay: 200ms;
}
.s:hover span:nth-child(4) {
  transition-delay: 300ms;
}
.s:hover span:nth-child(5) {
  transition-delay: 400ms;
}
.s:hover span:nth-child(6) {
  transition-delay: 500ms;
}
.s:hover span:nth-child(7) {
  transition-delay: 600ms;
}
.s:hover span:nth-child(8) {
  transition-delay: 700ms;
}
.s:hover span:nth-child(9) {
  transition-delay: 800ms;
}
.s:hover span:nth-child(10) {
  transition-delay: 900ms;
}
.s:hover span:nth-child(11) {
  transition-delay: 1000ms;
}
.s:hover span:nth-child(12) {
  transition-delay: 1100ms;
}
.deployment{
  color: orange;

  background-image:none;
  background-attachment: initial;
  background-size: initial ;

  -webkit-text-fill-color: orange;
  -webkit-background-clip: initial;
}
.offline{
  color: red;

  background-image:none;
  background-attachment: initial;
  background-size: initial ;

  -webkit-text-fill-color: red;
  -webkit-background-clip: initial;
}
.online{
  color: green;

  background-image:none;
  background-attachment: initial;
  background-size: initial ;

  -webkit-text-fill-color: green;
  -webkit-background-clip: initial;
}